/* ROOT */

:root {
    --navbar-height: 105px; /* Bestaande hoogte van de .header */
  }
  

/* STANDAARD */

html, body {
    margin: 0;
    padding: 0;
    /* Zorg voor een consistent lettertype en basisinstellingen over de hele app */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  

/* NAVBAR COMPONENT */

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    z-index: 1000; /* Zorgt ervoor dat de navbar boven andere content staat */
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
    z-index: 10000;
    background: white;
  }

  .active {
    color: red;
  }

  span:hover {
    cursor: pointer;
    color: red;
  }

  .nav-links button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 10px 0 10px 0;
    margin: 0 1rem;
    z-index: 1000;
  }
  .nav-links button:hover, .nav-links button:active, .nav-links button:focus, .nav-links button.active {
    color: red;
    outline: none;
    z-index: 1000;
  }

  .logo-title-container {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 35px;
  }

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 2.5rem;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    z-index: 10100; /* Zorg ervoor dat dit ten minste zo hoog is als de .header z-index */
    position: relative; /* z-index werkt alleen op positioned elements (niet static) */
}


  .nav-links a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
    transition:
      color 0.3s,
      background-color 0.3s;
    margin-right: 1rem; /* Voegt ruimte toe tussen elk item */
  }

  .nav-links a:hover {
    color: red;
  }

/* MAP */

/* OVERLAY */
.overlay {
    position: fixed;
    top: var(--navbar-height); /* Begin direct onder de navigatiebalk */
    left: 0;
    width: 100%;
    background-color: white; /* Volledig witte achtergrond */
    transition: opacity 2s ease; /* Langzaam openen en sluiten */
    opacity: 0; /* Begint onzichtbaar */
  }
  
  .overlay-visible {
    opacity: 1; /* Wordt volledig zichtbaar */
    height: calc(100% - var(--navbar-height)); /* Hoogte aanpassen aan navbar */
  }
  
  #map {
    height: calc(100vh - var(--navbar-height)); /* Zorg dat de kaart onder de navbar start */
    margin-top: 0px;
  }
  
  .map-hidden {
    display: none;
  }
  
